td a.edit-icon {
  display: inline-block;
  width: 20px;
  cursor: pointer;
  background-image: url(./icons8-ball-point-pen-48.png);
  height: 20px;  
  background-size: cover;
  margin-left: 10px;
}

.delete{
  cursor: pointer;
}